<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 引入样式 --> 
    <link href="./css/styles.css" rel="stylesheet"> 
 
    <script src="./js/vue.min.js"></script>  
    <script src="./js/jszip.min.js"></script> 
    <script src="./js/jszip-utils.min.js"></script>
    <title>小薇</title>
</head>
<body  id="bg1">
    <div id="app" > 
            
        <div id="bg2"> 
            
        </div>
        <div class="out" >
        <div class="container">
            <div class="search" :class="isShowSearch ? '' : 'search-all-bottom'">
              <input :class="isShowSearch ? 'input2' : ''" v-model="inputValue
               "@input="getSearch" @focus="showSearch" @blur="hideSearch" placeholder="请输入"/>
              <button type="button" @click="getAccurateSearch">搜索</button>
            </div>
            <div class="search-box" v-show="isShowSearch"> 
              <div v-for="(item,i) in showData" class="search-list" @mouseenter="getSearchList(item.a)"
                @mouseleave="clearSearchList"> 
                  <div :class="item.n == mouseKey ? 'search-title' :'search-default'" @click="ShowSearchData(item)">{{(i+1)}}.&nbsp;&nbsp;{{item.n}}</div>  
              </div>
            </div>
            <div class="result-box" v-show="isShowResultSearch"> 
                <div class="result-item">
                    搜索结果：
                </div>
                <div class="result-item">
                    省份:{{showitem.p}}
                </div> <div class="result-item">
                    券码：{{showitem.a}}
                </div> 
                <div class="result-item">
                    收费站名字：{{showitem.n}}
                </div>
                <div class="result-item">
                    站编码:{{showitem.b}}
                </div>
                
              </div>
          </div> 
        </div>
    </div>  
    <!-- 引入组件库 -->
	
    <script src="./js/myjs.js"></script>

</body>
</html>
