#bg1
{  
    background: url(../images/bg.jpg) no-repeat center fixed;
    opacity: 0.95;
    background-size:cover;
}
.out{ 
  display:flex;
  flex-direction:column;
  background: transparent;
  margin-top: 100pt;
}
.container { 
  padding: 20px;
  overflow-y: auto; 
  align-self:center
}
.container .search {
  display: flex;
}
.container .search input {
  padding: 0 0 0 14px;
  width: 60vw;
  font-size: 14px;
  height: 40px;
  border: 2px solid #CCC;
  border-radius: 5px 0 0 5px;
}
.container .search .input2 {
  border-radius: 5px 0 0 0px;
  outline: none;
  border: 2px solid #4662D9;
  box-sizing: border-box;
  border-bottom: 0;
}
.container .search input:focus {
  border-radius: 5px 0 0 0px;
  outline: none;
  border: 2px solid #4662D9;
  box-sizing: border-box;
  border-bottom: 0;
}
.container .search button {
  background-color: #4662D9;
  color: white;
  width: 80px;
  border: 2px solid #4662D9;
  cursor: pointer;
}
.container .search-all-bottom input:focus {
  border: 2px solid #4662D9;
}
.container .search-box {
  background-color: white; 
  opacity: 0.95;
  width: calc(60vw - 18px);
  padding: 5px 0 10px 14px;
  border: 2px solid #4662D9;
  border-top: 0;
}
.container .search-box .search-list {
  width: 60vw;
  margin-top: 5px;
}
.container .search-box .search-list  {
  color: blue;
} 
.search-default
{ 
  line-height:45px;
  align-content: center;
  color: #333333;
  height: 45px;
}
.search-title
{
  line-height:45px;
  height: 45px;
  align-content: center;
  color: blue;
}
.result-box{
  padding: 10px;
  margin-top: 10px;
  font-size: 20px; 
  color: #333333; 
  background-color: white; 
  opacity: 0.95;
}
.result-item{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height:45px;
}
