
/* 
导航栏 
*/
.navbarclass
{
    height:45px;
    border-top: 1px solid #ddd;
    position:fixed;
    left:0;
	bottom: 0; 
	padding-top:5px;
	padding-bottom:5px;
    width:100%;
	background-color: white;
}
/* 
导航栏分隔 
*/
.navclass
{
    width: 33%;
    height:100%;
    float: left;
}
/* 
导航栏图片
*/
.navimgclass
{
    width: 24px;
    height:24px;  
    margin-top: 2px;
    position: relative;
    left:50%;
    margin-left: -12px;
}
/* 
导航栏文字
*/
.navtextclass
{ 
    font-size: 12px;
    text-align:center;
}

.navtextclassclick
{ 
    font-size: 12px;
    text-align:center;
	color: #e6605b;
}
